/* default setup for the webpage */
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family: tahoma, Times, serif;
list-style-type: none;
text-decoration: none;
}

/* to clear default margin and padding */
body{
  margin: 0;
  padding: 0;
}

/*.....................................................*/

/* make this tag block level element */
header, nav, article, section, footer{
    display: block;
}

/*.....................................................*/

/*clear float */
.clear{
    clear:both;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.container{
    text-align: center;
   margin-bottom: 30px;
   
}

.delder{
    background-color: #33b5e5;
}



.logo1{
float: left;
margin-top: 10px;
margin-left: 40px;
width:30px;
height:30px;
}

.firstHeader{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    font: 900 normal 15px tahoma;/* font-weight  font-style font-size font-family;*/
    color: #e63812;
    text-shadow: -1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;

}

.motto{
    padding-right: 25px;
    text-align: right;
    font: 900 italic 9px tahoma;/* font-weight  font-style font-size font-family;*/
}


.firstNav{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font: 900 normal 15px tahoma;
    
}

.firstNav ul li{
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

.firstNotice{
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 15px;
    font: 900 normal 20px tahoma;/* font-weight  font-style font-size font-family;*/
    color: red;
}

.offers{
    padding-top: 10px;
    font: 900 italic 10px tahoma;/* font-weight  font-style font-size font-family;*/
    color: #000000;
}

.firstAside{
   box-shadow: 1px 1px , 0 0 8px blue, 0 0 ;
    border: 3px ridge #33b5e5;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    margin-top: 20px;
}

figure img{
    width: 80%;
}

figure figcaption{
    margin-bottom: 20px;
}

figcaption{
    font: 900 normal 15px tahoma;/* font-weight  font-style font-size font-family;*/

}

/*footer styling */
footer{
    background-color: #cac8c8;

}

.topStyle{
    font: 900 normal 15px tahoma;/* font-weight  font-style font-size font-family;*/
    padding-top: 20px;
    margin-left: 20px;
}

#contact{
padding-bottom: 20px;
text-align: center;
font-size: 13px;
}

.footerContent{
padding: 10px 10px;/*padding:top-bottom padding:left-right; */

}

.footerContent p{
padding-bottom: 20px;
}

.firstAddress{
    font-size: 10px;
}

.firstAddress img{
    width: 5%;
}

.copyright{
    padding-top: 10px;
    text-align: center;
}

/*some special styling for facilities page */

.facilities{
    font: 700 italic 15px tahoma;
    margin: 10px 10px;

}

/* facilities gallery styling */
div.firstGallery{
    margin: 20px;
  border: 1px solid #ccc;
  
}

div.firstGallery img{
width: 100%;
height: auto;
}

.firstCaption{
    font: bolder normal 18px tahoma;
        padding: 15px;
        text-align: center;
}


/*......................................*/


}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
    text-align: center;
   margin-bottom: 30px;
   
}

.delder{
    background-color: #33b5e5;
}

.logo1{
float: left;
margin-top: 10px;
margin-left: 50px;
width:50px;
height:50px;
}

.firstHeader{
    float: left;
    margin-top: 20px;
    margin-left: 25px;
    font: 900 normal 27px tahoma;/* font-weight  font-style font-size font-family;*/
    color: #e63812;
    text-shadow: -1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;

}

.motto{
    padding-right: 50px;
    text-align: right;
    font: 900 italic 9px tahoma;/* font-weight  font-style font-size font-family;*/
}

nav{
    margin-left: 120px;
}

.firstNav{
    margin-top: 20px;
    margin-bottom: 50px;
    font: 900 normal 20px tahoma;
    
}

.firstNav ul li{
    float: left;
    padding-left: 28px;
    padding-right: 28px;
    text-decoration: none;
}

.firstNotice{
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 15px;
    font: 900 normal 20px tahoma;/* font-weight  font-style font-size font-family;*/
    color: red;
}

.offers{
    padding-top: 10px;
    font: 900 italic 10px tahoma;/* font-weight  font-style font-size font-family;*/
    color: #000000;
}

.firstAside{
   box-shadow: 1px 1px , 0 0 8px blue, 0 0 ;
    border: 3px ridge #33b5e5;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom:20px;
    margin-top: 20px;
}

figure img{
    width: 80%;
}

figure figcaption{
    margin-bottom: 20px;
}

figcaption{
    font: 900 normal 20px tahoma;/* font-weight  font-style font-size font-family;*/

}

/*footer styling */
footer{
    background-color: #cac8c8;

}

.topStyle{
    font: 900 normal 15px tahoma;/* font-weight  font-style font-size font-family;*/
    padding-top: 20px;
    margin-left: 20px;
}

#contact{
padding-bottom: 20px;
text-align: center;
font-size: 20px;
}

.footerContent{
padding: 10px 10px;/*padding:top-bottom padding:left-right; */

}

.footerContent p{
    text-align:center;
padding-bottom: 20px;
}

.firstAddress{
    font-size: 15px;
}

.firstAddress img{
    width: 4%;
}

.copyright{
    padding-top: 10px;
    text-align: center;
}

/*some special styling for facilities page */

.facilities{
    font: 700 italic 15px tahoma;
    margin: 20px 10px;

}

/* facilities gallery styling */
div.firstGallery{
    margin: 20px;
  border: 1px solid #ccc;
  
}

div.firstGallery img{
width: 100%;
height: auto;
}

.firstCaption{
    font: bolder normal 25px tahoma;
        padding: 15px;
        text-align: center;
}


}

 /* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) {
    .container{
        text-align: center;
       margin-bottom: 30px;
       
    }
    
    .delder{
        background-color: #33b5e5;
    }
    
    .logo1{
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    width:50px;
    height:50px;
    }
    
    .firstHeader{
        float: left;
        margin-top: 20px;
        margin-left: 50px;
        font: 900 normal 35px tahoma;/* font-weight  font-style font-size font-family;*/
        color: #e63812;
        text-shadow: -1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;
    
    }
    
    .motto{
        padding-right: 50px;
        text-align: right;
        font: 900 italic 9px tahoma;/* font-weight  font-style font-size font-family;*/
    }
    
    nav{
        margin-left: 180px;
    }
    
    .firstNav{
        margin-top: 20px;
        margin-bottom: 50px;
        font: 900 normal 20px tahoma;
        
    }
    
    .firstNav  ul li{
        float: left;
        padding-left: 28px;
        text-decoration: none;
    }
    
    .firstNotice{
        text-align: center;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 15px;
     font: 900 normal 20px tahoma;/* font-weight  font-style font-size font-family;*/
     color: red;
    }
    
    .offers{
        padding-top: 10px;
        font: 900 italic 10px tahoma;/* font-weight  font-style font-size font-family;*/
        color: #000000;
    }
    
    .firstAside{
       box-shadow: 1px 1px , 0 0 8px blue, 0 0 ;
        border: 3px ridge #33b5e5;
        border-radius: 25px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom:20px;
        margin-top: 20px;
    }
    
    figure img{
        width: 80%;
    }
    
    figure figcaption{
        margin-bottom: 20px;
    }
    
    figcaption{
        font: 900 normal 20px tahoma;/* font-weight  font-style font-size font-family;*/
    
    }
    
    /*footer styling */
    footer{
        background-color: #cac8c8;
    
    }
    
    #contact{
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
    }
    
    .footerContent{
    padding: 10px 10px;/*padding:top-bottom padding:left-right; */
    
    }
    
    .footerContent p{
        text-align:center;
    padding-bottom: 20px;
    }
    
    .firstAddress{
        font-size: 20px;
    }
    
    .firstAddress img{
        width: 4%;
    }
    
    .copyright{
        padding-top: 10px;
        text-align: center;
    }

/*some special styling for facilities page */

.facilities{
    font: 700 italic 15px tahoma;
    margin: 40px 10px;

}

/* facilities gallery styling */
div.firstGallery{
    margin: 20px;
  border: 1px solid #ccc;
  
}

div.firstGallery img{
width: 100%;
height: auto;
}

.firstCaption{
    font: bolder normal 40px tahoma;
        padding: 15px;
        text-align: center;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        text-align: center;
       margin-bottom: 30px;
       
    }
    
    .delder{
        background-color: #33b5e5;
    }
    
    .logo1{
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    width:100px;
    height:100px;
    }
    
    .firstHeader{
        float: left;
        margin-top: 20px;
        margin-left: 30px;
        font: 900 normal 80px tahoma;/* font-weight  font-style font-size font-family;*/
        color: #e63812;
        text-shadow: -1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;
    
    }
    
    .motto{
        padding-right: 50px;
        text-align: right;
        font: 900 italic 15px tahoma;/* font-weight  font-style font-size font-family;*/
        
    }
    
   /*link :hover setup for nav*/

/* unvisited link */
.firstNav a:link {
    color: black;
  }
  
  /* visited link */
  .firstNav ul a:visited li{
    color: #00FF00;
  }
  
  /* mouse over link */
  .firstNav ul a:hover li{
    color:#ffffff;
    background-color: rgb(46, 44, 44);
  }
  
  /* selected link */
  .firstNav a:active {
    color: #0000FF;
  }
    
    
    .firstNav{
        margin-top: 20px;
        margin-bottom: 50px;
        font: 900 normal 25px tahoma;
    }
    
    .firstNav ul li{
        float: left;
        padding-left: 40px;
        padding-right: 40px;
        text-decoration: none;
        color: #000000;
    }
    
    .firstNotice{
    text-align: center;
     padding-top: 25px;
        font: 900 normal 40px tahoma;/* font-weight  font-style font-size font-family;*/
        color: red;
    }
    
    .offers{
        text-align: center;
        padding-top: 25px;
        font: 900 italic 15px tahoma;/* font-weight  font-style font-size font-family;*/
        color: #000000;
    }
    
    .firstAside{
       box-shadow: 1px 1px , 0 0 8px blue, 0 0 ;
        border: 3px ridge #33b5e5;
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:20px;
        margin-top: 20px;
    }
    
    figure img{
        width: 80%;
    }

    figure figcaption{
        margin-bottom: 20px;
    }
    
    figcaption{
        font: 500 normal 20px tahoma;/* font-weight  font-style font-size font-family;*/
    
    }
    
    /*footer styling */
    footer{
        background-color: #cac8c8;
    
    }
    
    #contact{
        padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
    }
    
    .footerContent{
    padding: 10px 10px;/*padding:top-bottom padding:left-right; */
    
    }
    
    .footerContent p{
        text-align: center;
    padding-bottom: 20px;
    }
    
    .firstAddress{
        padding-top: 40px;
        font-size: 25px;
    }
    
    .firstAddress img{
        width: 4%;
    }
    
    .copyright{
        padding-top: 10px;
        text-align: center;
    }
    
/*some special styling for facilities page */

.facilities{
    font: 700 italic 15px tahoma;
    margin: 40px 10px;

}

/* facilities gallery styling */
div.firstGallery{
    margin: 20px;
  border: 1px solid #ccc;
  
}

div.firstGallery img{
width: 100%;
height: auto;
}

.firstCaption{
    font: bolder normal 40px tahoma;
        padding: 15px;
        text-align: center;
}


div.firstGallery:hover {
    border: 1px solid #777;
    box-shadow: 10px 10px 5px grey;
  }

}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        text-align: center;
       margin-bottom: 30px;
       
    }
    
    .delder{
        background-color: #33b5e5;
    }
    
    .logo1{
    float: left;
    margin-top: 10px;
    margin-left: 100px;
    width:100px;
    height:100px;
    }
    
    .firstHeader{
        float: left;
        margin-top: 20px;
        margin-left: 100px;
        font: 900 normal 80px tahoma;/* font-weight  font-style font-size font-family;*/
        color: #e63812;
        text-shadow: -1px 0 white, 0 3px white, -1px 0 white, 0 -1px white;
    
    }
    
    .motto{
        padding-right: 50px;
        text-align: right;
        font: 900 italic 15px tahoma;/* font-weight  font-style font-size font-family;*/
        
    }
    
    /*link :hover setup for nav*/

/* unvisited link */
.firstNav a:link {
    color: #FF0000;
  }
  
  /* visited link */
  .firstNav a:visited {
    color: #00FF00;
  }
  
  /* mouse over link */
  .firstNav a:hover li{
    color:#ffffff;
    background-color: rgb(46, 44, 44);
  }
  
  /* selected link */
  .firstNav a:active {
    color: #0000FF;
  }
    
    .firstNav{
        margin-top: 20px;
        margin-bottom: 50px;
        font: 900 normal 24px tahoma;
        
    }
    
    .firstNav ul li{
        float: left;
        padding-left: 150px;
        padding-right: 80px;
        text-decoration: none;
    }
    
    .firstNotice{
    text-align: center;
     padding-top: 25px;
        font: 900 normal 50px tahoma;/* font-weight  font-style font-size font-family;*/
        color: red;
    }
    
    .offers{
        text-align: center;
        padding-top: 25px;
        font: 900 italic 15px tahoma;/* font-weight  font-style font-size font-family;*/
        color: #000000;
    }
    
    .firstAside{
       box-shadow: 1px 1px , 0 0 8px blue, 0 0 ;
        border: 3px ridge #33b5e5;
        border-radius: 25px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom:20px;
        margin-top: 20px;
    }
    
    figure img{
        width: 60%;
    }

    figure figcaption{
        margin-bottom: 20px;
    }
    
    figcaption{
        font: 900 normal 30px tahoma;/* font-weight  font-style font-size font-family;*/
    
    }
    
    /*footer styling */
    footer{
        background-color: #cac8c8;
    
    }


    .topStyle{
        font: 900 normal 30px tahoma;/* font-weight  font-style font-size font-family;*/
        padding-top: 20px;
        margin-left: 100px;
    }
    
    #contact{
    padding-bottom: 30px;
    text-align: center;
    font-size: 50px;
    }
    
    .footerContent{
    padding: 10px 10px;/*padding:top-bottom padding:left-right; */
    
    }
    
    .footerContent p{
        text-align: center;
    padding-bottom: 20px;
    }
    
    .firstAddress{
        padding-top: 40px;
        font-size: 40px;
    }
    
    .firstAddress img{
        width: 4%;
    }
    
    .copyright{
        padding-top: 10px;
        text-align: center;
    }
    

    /*some special styling for facilities page */

.facilities{
    font: 700 italic 15px tahoma;
    margin: 40px 10px;

}

/* facilities gallery styling */
div.firstGallery{
    margin: 20px;
  border: 0px solid #ccc;
  
}

div.firstGallery img{
width: 60%;
height: auto;
}

.firstCaption{
    font: bolder normal 25px tahoma;
        padding: 15px;
        text-align: center;
}

div.firstGallery:hover {
  border: 1px solid #777;
  box-shadow: 10px 10px 5px grey;
}
}